
BC-summer/BC-summer.xcodeproj/xcuserdata/anakin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

BC-summer/BC-summer.xcodeproj/project.xcworkspace/xcuserdata/anakin.xcuserdatad/UserInterfaceState.xcuserstate

BC-summer/BC-summer.xcodeproj/project.xcworkspace/xcuserdata/anakin.xcuserdatad/UserInterfaceState.xcuserstate

BC-summer/BC-summer.xcodeproj/xcuserdata/anakin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

BC-summer/coding/coding.xcodeproj/project.xcworkspace/xcuserdata/anakin.xcuserdatad/UserInterfaceState.xcuserstate

BCQT-with-panel/BCQT-with-panel.pro.user

BCQT-with-panel/BCQT-with-panel.pro.user

build-BCQT-with-panel-Desktop_Qt_5_7_0_clang_64bit-Debug/BCQT-with-panel.app/Contents/MacOS/BCQT-with-panel

build-BCQT-with-panel-Desktop_Qt_5_7_0_clang_64bit-Debug/betweenness.o
